<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The JNC Technology Group</title>
  <meta name="description" content="The JNC Technology Group Website">
  <meta name="author" content="DWJ Production">

  <link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
  <link href="css/libs.min.css" rel="stylesheet">
  <link href="css/styles.min.css" rel="stylesheet">

  <script src="js/libs.min.js"></script>
  <script src="js/bundle.js"></script>
  
</head>

<body>
  <div class="page-wrapper">
    <!-- Header -->

    <!-- Body -->
    <div class="mainBody">
      <!-- Page Body -->            
      /* INSERT BODY */      
    </div>    
  </div>  
  
  <!-- Footer -->
  
</body>

</html>